PublicMM1/
BaselFaceModel.tgz

env/
open3d-env/
DECA/

facelandmarks.txt


4.jpg
4.t7
1.jpg
1.t7
bfm_detailed_face.ply
mean_face.ply
random_face_mesh.ply
random_face_mesh_2.ply
random_face_mesh_3.ply
bfm_68_landmarks.fp
fitted_face_2.ply
fitted_face.ply

DECA_ShellScript.sh

FaceVerse_v4/
HairStep/

checkpoints/
data/
docs/
external/
hairstep_env/
images/
lib/
project/
results/
scripts/

face-parsing.PyTorch/
BiSeNet/
MODNet/
face-parsing.PyTorch/
hair_depth_masks/
ply_files/
images/
obj_files/
final_combine_face/
difflocks/
HairNet/
MonoHair/
